name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set Git user
        run: |
          git config --global user.email "vactor0911@gmail.com"
          git config --global user.name "Vactor0911"

      - name: Install dependencies
        run: npm install

      - name: Build the app
        run: npm run build

      - name: Set up GitHub token for authentication
        run: |
          git config --global url."https://${{ secrets.GH_TOKEN }}@github.com/".insteadOf "https://github.com/"

      - name: Deploy to GitHub Pages
        run: npm run deploy -- --repo https://github.com/${{ github.repository }}.git
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          VITE_SERVER_HOST: ${{ secrets.VITE_SERVER_HOST }}
          VITE_KAKAO_CLIENT_ID: ${{ secrets.VITE_KAKAO_CLIENT_ID }}
          VITE_KAKAO_REDIRECT_URI: ${{ secrets.VITE_KAKAO_REDIRECT_URI }}
          VITE_GOOGLE_CLIENT_ID: ${{ secrets.VITE_GOOGLE_CLIENT_ID }}
          VITE_GOOGLE_REDIRECT_URI: ${{ secrets.VITE_GOOGLE_REDIRECT_URI }}
          VITE_CKEDITOR_LICENSE_KEY: ${{ secrets.VITE_CKEDITOR_LICENSE_KEY }}
          VITE_NAVER_MAP_CLIENT_ID: ${{ secrets.VITE_NAVER_MAP_CLIENT_ID }}
          VITE_NAVER_MAP_SECRET: ${{ secrets.VITE_NAVER_MAP_SECRET}}
